<form [formGroup]="ruleForm" (submit)="save()">
    <h1>Required Settings</h1>
    <div formGroupName="commonRequiredForm">
      <required-common [requiredGroup]="ruleForm.controls.commonRequiredForm" [model]="model" (typeUpdated)="typeUpdate($event)"></required-common>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !ruleForm.controls.compareKey.valid && !ruleForm.controls.compareKey.pristine}">
        <label class="control-label" for="type">Compare Key</label>
        <input type="text" class="form-control" placeholder="Compare Key" formControlName="compareKey" />
        <div *ngIf="!ruleForm.controls.compareKey.valid && ruleForm.controls.compareKey.hasError('required') && !ruleForm.controls.compareKey.pristine" class="alert alert-danger">
            Compare Key is required
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !ruleForm.controls.ignoreNull.valid && !ruleForm.controls.ignoreNull.pristine}">
        <label class="control-label" for="ignoreNull">Ignore Null</label>
        <input type="checkbox" formControlName="ignoreNull"/>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !ruleForm.controls.queryKey.valid && !ruleForm.controls.queryKey.pristine}">
        <label class="control-label" for="type">Query Key</label>
        <input type="text" class="form-control" placeholder="Query Key" formControlName="queryKey" />
        <div *ngIf="!ruleForm.controls.queryKey.valid && ruleForm.controls.queryKey.hasError('required') && !ruleForm.controls.queryKey.pristine" class="alert alert-danger">
            Query Key is required
        </div>
    </div>
    <app-alerts [alertGroup]="ruleForm" [model]="model"></app-alerts>
    <h1>Optional Settings</h1>
    <div formGroupName="commonOptionalForm">
      <optional-common [optionalGroup]="ruleForm.controls.commonOptionalForm" [model]="model"></optional-common>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !ruleForm.controls.timeFrame.valid && !ruleForm.controls.timeFrame.pristine}">
        <label class="control-label" for="type">Timeframe (Minutes)</label>
        <input type="text" class="form-control" placeholder="Timeframe" formControlName="timeFrame" />
    </div>
    <div>
        <button type="submit" class="btn btn-inverse btn-lg btn-register"
                [disabled]="!ruleForm.valid">
            Save
        </button>
    </div>
</form>