<div [formGroup]="requiredCommonForm">
    <div class="form-group" [ngClass]="{ 'has-error' : !requiredCommonForm.controls.index.valid && !requiredCommonForm.controls.index.pristine}">
        <label class="control-label" for="name">Index</label>
        <input type="text" class="form-control" placeholder="Index" formControlName="index" />
        <div *ngIf="!requiredCommonForm.controls.index.valid && requiredCommonForm.controls.index.hasError('required') && !requiredCommonForm.controls.index.pristine" class="alert alert-danger">
            Index is required
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !requiredCommonForm.controls.name.valid && !requiredCommonForm.controls.name.pristine}">
        <label class="control-label" for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name" formControlName="name" />
        <div *ngIf="!requiredCommonForm.controls.name.valid && requiredCommonForm.controls.name.hasError('required') && !requiredCommonForm.controls.name.pristine" class="alert alert-danger">
            Name is required
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !requiredCommonForm.controls.type.valid && !requiredCommonForm.controls.type.pristine}">
        <label class="control-label" for="type">Type</label>
        <input type="text" class="form-control" placeholder="Type" formControlName="type" />
        <div *ngIf="!requiredCommonForm.controls.type.valid && requiredCommonForm.controls.type.hasError('required') && !requiredCommonForm.controls.type.pristine" class="alert alert-danger">
            Type is required
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !requiredCommonForm.controls.filter.valid && !requiredCommonForm.controls.filter.pristine}">
        <label class="control-label" for="type">Filter</label>
        <input type="text" class="form-control" placeholder="Filter" formControlName="filter" />
        <div *ngIf="!requiredCommonForm.controls.filter.valid && requiredCommonForm.controls.filter.hasError('required') && !requiredCommonForm.controls.filter.pristine" class="alert alert-danger">
            Filter is required
        </div>
    </div>
    <h2>Alerts</h2>
    <div formArrayName="alerts">
        <div *ngFor="let alert of requiredCommonForm.controls.alerts.controls; let i=index">
            <div [formGroupName]="i" class="well">
                <app-alert [group]="requiredCommonForm.controls.alerts.controls[i]" [model]="model"></app-alert>
            </div>
        </div>
    </div>
</div>
