<div class="col-md-3 left_col">
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-exclamation-triangle"></i> <span>Elastalert UI</span></a>
  </div>
  <div class="clearfix"></div>
<!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']"><i class="fa fa-home"></i>Home</a>
        </li>
        <li>
          <a [routerLink]="['/globalconfig']" [routerLinkActive]="['active']"><i class="fa fa-globe"></i>Global Config</a>
        </li>
        <li>
          <a [routerLink]="['/rules/edit']" [routerLinkActive]="['active']"><i class="fa fa-edit"></i>Edit Rule</a>
        </li>
        <li>
          <a [routerLink]="['/rules/create']" [routerLinkActive]="['active']"><i class="fa fa-plus"></i>Create Rule</a>
        </li>
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->
</div>
</div>