<h2>Alerts</h2>
<div [formGroup]="alertGroup">
    <div formArrayName="alerts" class="well">
      <i [ngClass]="{'fa-toggle-up': !isCollapsed, 'fa-toggle-down': isCollapsed}" class="fa fa-lg pull-right toggle-icon" (click)="isCollapsed = !isCollapsed"></i>
      <div class="clearfix"></div>
      <div [collapse]="isCollapsed" class="collapse-container">
        <div *ngFor="let alert of alertGroup.controls.alerts.controls; let i=index" >
            <div [formGroupName]="i" class="well">  
                <div>
                    <a class="pull-right" style="cursor: pointer" *ngIf="alertGroup.controls.alerts.controls.length > 1" (click)="removeAlert(i)">
                        Remove
                    </a>
                </div>
                <app-alert [group]="alertGroup.controls.alerts.controls[i]" [model]="model"></app-alert>
            </div>
        </div>
        <div>
            <a (click)="addAlert()" style="cursor: pointer">
                Add another alert +
            </a>
        </div>
      </div>
    </div>
</div>