<form [formGroup]="cardinalityForm" (submit)="save()">
    <h1>Required Settings</h1>
    <div formGroupName="commonRequiredForm">
      <required-common [requiredGroup]="cardinalityForm.controls.commonRequiredForm" [model]="model" (typeUpdated)="typeUpdate($event)"></required-common>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !cardinalityForm.controls.timeFrame.valid && !cardinalityForm.controls.timeFrame.pristine}">
        <label class="control-label" for="type">Timeframe (Minutes)</label>
        <input type="text" class="form-control" placeholder="Timeframe" formControlName="timeFrame" />
        <div *ngIf="!cardinalityForm.controls.timeFrame.valid && cardinalityForm.controls.timeFrame.hasError('required') && !cardinalityForm.controls.timeFrame.pristine" class="alert alert-danger">
            Filter is required
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !cardinalityForm.controls.cardinalityField.valid && !cardinalityForm.controls.cardinalityField.pristine}">
        <label class="control-label" for="type">Cardinality Field</label>
        <input type="text" class="form-control" placeholder="Cardinality Field" formControlName="cardinalityField" />
        <div *ngIf="!cardinalityForm.controls.cardinalityField.valid && cardinalityForm.controls.cardinalityField.hasError('required') && !cardinalityForm.controls.cardinalityField.pristine" class="alert alert-danger">
            Filter is required
        </div>
    </div>
    <h1>Optional Settings</h1>
    <div formGroupName="commonOptionalForm">
      <optional-common [optionalGroup]="cardinalityForm.controls.commonOptionalForm" [model]="model"></optional-common>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !cardinalityForm.controls.queryKey.valid && !cardinalityForm.controls.queryKey.pristine}">
        <label class="control-label" for="name">Query Key</label>
        <input type="text" class="form-control" placeholder="Query Key" formControlName="queryKey" />
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !cardinalityForm.controls.maxCardinality.valid && !cardinalityForm.controls.maxCardinality.pristine}">
        <label class="control-label" for="name">Max Cardinality</label>
        <input type="number" class="form-control" placeholder="Max Cardinality" formControlName="maxCardinality" />
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : !cardinalityForm.controls.minCardinality.valid && !cardinalityForm.controls.minCardinality.pristine}">
        <label class="control-label" for="name">Min Cardinality</label>
        <input type="number" class="form-control" placeholder="Min Cardinality" formControlName="minCardinality" />
    </div>
    <div>
        <button type="submit" class="btn btn-inverse btn-lg btn-register"
                [disabled]="!cardinalityForm.valid">
            Save
        </button>
    </div>
</form>